@font-face {
  font-family: Young-Serif;
  src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  background: #ecd4b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Young-serif;
}

table,
th,
td {
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  width: 50%;
  padding: 8px;
  margin: 8px 0;
}

.calories {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

hr {
  border-top: 1px dotted #8c8b8b;
}

h2 {
  color: hsl(14, 45%, 36%);
}

.attribution {
  margin: 16px 0;
  padding: 16px o;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1440px) {
  .card {
    margin: 32px;
    background: white;
    padding: 64px;
    border-radius: 20px;
    width: 56%;
  }

  .card img {
    border-radius: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  [class*='card'] {
    width: 100%;
    margin: 0px 20px;
    padding: 0px 20px;
    /* margin-left: 20px; */
    /* padding-left: 20px; */
  }

  .card div,
  h1,
  h2 {
    margin: 0 20px;
    padding: 0 20px;
  }

  .card ul,
  ol,
  table {
    margin: 0 30px;
    padding: 0 30px;
  }
}

.prep-time {
  background-color: hsl(330, 100%, 98%);
  padding: 18px;
  margin-top: 24px;
  border-radius: 5px;
}

.prep-time .title {
  font-size: 20px;
  font-weight: 600;
  color: hsl(14, 45%, 36%);
}

.prep-time li {
  margin: 4px 0;
}

.prep-time h4 {
  color: hsl(332, 51%, 32%);
}
